.accordeon {
    border-radius: 25px;
    margin-bottom: 10px;

    .accordeon_title {
        background-color: #FF6060;
        border-radius: 5px;
        color: #FFFFFF;
        padding: 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .accordeon_icon {
            transition: transform 0.3s ease;
            color: #FFFFFF;
        }
    }

    .accordeon_content {
        padding: 10px;
        color: #000000;
        background-color: #F6F6F673;
    }
}
