.host{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    img {
        border-radius: 50%;
    }
    .host-name {
        color: #FF6060;
        font-size: 19px;
    }
}