
.logement_container {
    padding: 0 5% 0 5%;
}

.titre_profil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .titre_tags{
        display: flex;
        flex-direction: column;
        .title-location{
            color: #FF6060;
            font-size: 24px;
            p {
                color: #FF6060;
                font-size: 24px;
            }
        }
        .tags {
            display: flex;
        }
    }
}
.groupes_accordeon {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    .accordeon {
        width: 100%;
    }
    ul {
        list-style: none;
    }
}

@media screen and (max-width: 660px) {
   .titre_profil{
    flex-direction: column;
    .titre_tags{
        .title-location{
            h1{
                font-size: 20px;
            }
            p{
                font-size: 15px;
            }
        }
        .tags {
            display: flex;
            .tag {
                font-size: 12px;
                padding: 7px 7px;
            }
        }
    }
    .profil_note {
        display: flex;
        flex-direction: row-reverse;
        .host{
            img{
            width: 40px;
            }
            .host-name{
                font-size: 15px;
            }

        }
        .star{
            font-size: 18px;
            gap: 1px;
            margin-bottom: 1rem;
            margin-right: 1rem;
        }
    }
   }
   .groupes_accordeon{
    flex-direction: column;
   }

}